<ion-header>
  <ion-toolbar>  
    <ion-back-button style="float:left ;"></ion-back-button> 
    <ion-title>Trip</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Places</ion-title>
      </ion-toolbar>
    </ion-header>,
    <ion-content fullscreen>
      <ion-card *ngFor="let location of locations">
        <ion-card-header>
          <ion-card-title>{{location.locationName}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        {{location.description}}
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>
