<ion-header>
  <ion-toolbar>  
    <ion-back-button style="float:left ;"></ion-back-button> 
    <ion-title>Trip</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Places</ion-title>
      </ion-toolbar>
    </ion-header>,
    <ion-content fullscreen>
      <ion-card *ngFor="let location of updatedLocations">
        <ion-card-header>
          <ion-card-title>{{location.locationName}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        {{location.description}}.
        <ion-card-subtitle>Cost: {{location.Cost}}</ion-card-subtitle>
        <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
        <ion-card-subtitle>To </ion-card-subtitle>
        <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>
