<ion-header >
 <ion-toolbar >
    <!-- <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" placeholder="Search for a place"  (ionClear)="ClearAutocomplete()"></ion-searchbar> -->
  </ion-toolbar>
  <!-- <ion-list [hidden]="autocompleteItems.length == 0"> -->
    <!-- <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)"> -->
      <!-- {{ item.description }} -->
    <!-- </ion-item> -->
  <!-- </ion-list> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

<ion-card>
  <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" placeholder="Search for a place"  (ionClear)="ClearAutocomplete()"></ion-searchbar>
<ion-list [hidden]="autocompleteItems.length == 0">
  <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
    {{ item.description }}
  </ion-item>
</ion-list>
  <div #map id="map"></div>
  <ion-card-header>
    <ion-button (click)="getUserLocation()"> Click me to see your current Location</ion-button>
  </ion-card-header>
</ion-card>


</ion-content>
</ion-header>
