<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="openCalModal()"
    ><ion-icon name="add" slot="icon-only" ></ion-icon>
  </ion-button>
</ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-segment [(ngModel)]="calendar.mode">
    <ion-segment-button value="month">
      <ion-label>Month</ion-label>
    </ion-segment-button>
    <ion-segment-button value="day">
      <ion-label>Day</ion-label>
    </ion-segment-button>
  </ion-segment> -->
  <ion-col size="8" class="ion-text-center">
    <h2>{{ viewTitle }}</h2>
  </ion-col>

  <calendar
    style="color: white;"
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    startHour="0"
    endHour="24"
    step="30"
    startingDayWeek="1"
  >
  </calendar>
