<ion-header>
  <ion-toolbar>
    <ion-back-button style="float:left ;"></ion-back-button>
    <br>
    <br>
    <br>
    <ion-title>Planning the trip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-label>Hotels</ion-label>
      <ion-toggle slot="start" color="success" (ionChange)="changeHotelToggle()"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Attractions</ion-label>
      <ion-toggle slot="start"  color="success" (ionChange)="changeAttractionToggle()"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Restaurants</ion-label>
      <ion-toggle slot="start" color="success" (ionChange)="changeRestaurantToggle()"></ion-toggle>
    </ion-item>

  
  </ion-list>

  <ion-button expand="block" [routerLink]="['/trip']" [queryParams]="{hotels: [this.hotelToggle], attractions: [this.attractionToggle], restaurants: [this.restaurantToggle]}">Done</ion-button>
</ion-content>
