<ion-header>
  <ion-toolbar>
    <ion-back-button style="float:left ;"></ion-back-button>
    <br>
    <br>
    <br>
    <ion-title>Planning the trip</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen>
  <br> <br> 
  <div id="size3" item-content>
    <ion-input type="text"  placeholder="Name of Trip"  style="text-align: center;" ></ion-input> 
    </div>
   

   
  <div id="size2" item-content>
    <ion-input type="text"  placeholder="Location"  style="text-align: center;" ></ion-input> 
    </div>
    
  <br> <br> <br> <br> <br>
    <h1 id="allign">What it's your Budget</h1>
 
  <div id="size" item-content>

    <ion-input     type="number"  placeholder="Budget"  style="text-align: center;" >$</ion-input> 
    

</div>
<br> <br> <br> 
  <ion-list>
    <ion-item>
      <ion-label>Hotels</ion-label>
      <ion-toggle slot="start" color="success" (ionChange)="changeHotelToggle()"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Attractions</ion-label>
      <ion-toggle slot="start"  color="success" (ionChange)="changeAttractionToggle()"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Restaurants</ion-label>
      <ion-toggle slot="start" color="success" (ionChange)="changeRestaurantToggle()"></ion-toggle>
    </ion-item>

  
  </ion-list>

  <ion-button expand="block" [routerLink]="['/trip']" [queryParams]="{hotels: [this.hotelToggle], attractions: [this.attractionToggle], restaurants: [this.restaurantToggle]}">Done</ion-button>
</ion-content>


